.DS_Store
*.html
*.pdf
*_files/
/.luarc.json
/.quarto/
/.tmp-tests/
**/*.quarto_ipynb
/test/widget-site/_site/
/test/widget-site/.quarto/
/test/widget-site/_extensions/
/test/sidebar-site/_site/
/test/sidebar-site/.quarto/
/test/sidebar-site/_extensions/
/test/navbar-site/_site/
/test/navbar-site/.quarto/
/test/navbar-site/_extensions/
/test/badge-site/_site/
/test/badge-site/.quarto/
/test/badge-site/_extensions/
/test/badge-site/*.typ
/test/badge-site/site_libs/
__pycache__/
/tools/.venv/
